<div class="container d-flex justify-content-center gap-5 mt-5">
    <a href="/" class="btn btn-sm btn-secondary bg-gradient">Dashboard</a>
    <a href="/brands" class="btn btn-sm btn-secondary bg-gradient">Brands</a>
    <a href="/parts" class="btn btn-sm btn-secondary bg-gradient">Parts</a>
    <a href="/stocks" class="btn btn-sm btn-secondary bg-gradient">Stocks</a>
    <a href="/units" class="btn btn-sm btn-secondary bg-gradient">Units</a>
    <a href="/dispatches" class="btn btn-sm btn-secondary bg-gradient">Dispatches</a>
</div>