<div class='grid gap-5'>
    <form id='unitForm' class='text-white grid gap-3' action='/units' method='post'>
        <input type='text' class='text-sm px-1 bg-transparent border-b w-80 outline-0' name='plateNumber' id='plateNumber' placeholder='Unit Ex. ABC123/1234' pattern='[A-Za-z]{3}[0-9]{3,4}' required>
        <div class='flex justify-between'>
            <div class='text-xs font-bold flex gap-2'>
                <button type='submit' class='bg-blue-700 hover:bg-blue-600 px-2 py-1 rounded-lg'>Submit</button>
                <button type='button' class='bg-slate-700 hover:bg-slate-600 px-2 py-1 rounded-lg' id='cancelEditUnitBtn'>Cancel</button>
            </div>
            <span>{{units.length}}</span>
        </div>
    </form>
</div>
