<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">InvSys</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/parts">Parts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/stocks">Stocks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/units">Units</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dispatches">Dispatches</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container-fluid">
  <div class="row border">
    <div class="col-sm-3 border-end">
      <form class="p-2" action="/units" method="post">
        <div class="row mb-2">
          <input type="text" class="form-control form-control-sm" name="unitname" id="unitName" placeholder="Unit Ex. ABC123/1234" pattern="[A-Za-z]{3}[0-9]{3,4}" required>
        </div>
        <div class="row">
          <input class="btn btn-primary btn-sm"  type="submit" value="Submit">
        </div>
      </form>
    </div>
    <div class="col p-2">
      <span class="badge bg-secondary">Units Count: {{units.length}}</span>
      <br><br>
      <div class="d-flex flex-wrap">
        {{#each units}}
          <button type="button" class="btn btn-secondary me-1 mb-1 getUnit" data-url="{{this.url}}">{{this.name}}</button>
        {{/each}}
      </div>
      <br><br>
      <div class="container px-0">
        <div id="output">
        </div>
        <div>
          <table id="output2" class="table table-sm table-bordered"></table>
        </div>
      </div>
    </div>
  </div>
</div>
