@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #10111e;
  font-family: 'Poppins', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* #cancelEditBrandBtn, #cancelEditPartBtn, #cancelEditStockBtn, #cancelEditUnitBtn, .hiddenBtn { display: none; }  

option { background-color: #10111e; }

li, table { background-color: #141522; } */